<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/css/style.css'>
    <link rel="icon" href="/img/weather.png">
    <title>Weatherator-error</title>
</head>

<body>
    {{!-- <h1>{{title}}</h1> --}}
    {{>error}}

    <div class='imag-error'>
        {{!-- <img src='/img/404.gif'> --}}
    </div>
    <div class="error-para">
        <p>{{error}}</p>
    </div>

    {{>footer}}
</body>

</html>