<footer>
    <div class="footerList">
        {{!-- <ul class='list'>
            <li><a href='/'>Home</a></li>
            <li><a href='/about'>About</a></li>
            <li><a href='/help'>Help</a></li>
        </ul> --}}
        <a href='/'>Home</a>
        <a href='/about'>About</a>
        <a href='/help'>Help</a></li>
    </div>
</footer>